<div class="page-banner-content">
    <img src="img/newzealand.jpg" alt="">
    <h2>Study in New Zealand</h2>
</div>

<div class="about-row container">
    <div class="about-column-left">
        <h3 class="title-bold heading-border-left"> Study in New Zealand</h3>
        <p class="sub-heading">
            New Zealand is a land of contrasts. The South Island?s west coast drips with rain. Its forests are dense with tree ferns and towering pod carps, ancient remnants of conifer forests that existed when New Zealand was part of a gigantic continent called
            Gondwanaland. On the eastern side of the island, in the rain shadow of the Southern Alps, the hills are brown in late summer, back country travel is often across open slopes covered with tussocks of grass or through beech forests that smell
            like honey. Raw and young, this landscape is steep and rugged and its weather is capricious. You can go from hot sun in the morning to cold winds, rain, and snow in the afternoon. We leave behind the tourist routes and plunge deep into the
            forests or climb high up into remote alpine areas. Some courses float down its rivers or explore its coastlines, experiencing the countrys? rich marine life? whales, dolphins, and seals? and its wide variety of endemic birds. New Zealand is
            a dramatic place that engages your senses, challenges you physically and mentally, and promises to give you the adventure of a lifetime.
        </p> <br>
        <h3 class="title-bold"> Why Study in Newzealand </h3> <br> b
        <p class="sub-heading">
            New Zealand, although it is the same size as Japan or Great Britain, but there are a lot of reasons that you should consider going there for your studies abroad. Many people will call natives of the country “Kiwis,” after the bird that only resides there
            and nowhere else in the entire world. There are a number of reasons that you should consider studying in New Zealand instead of considering other countries; that’s what we’re going to look at in this section of our website. <br>            <br>

            <b> The people </b> <br> Kiwis are some of the most amazing, loving, and welcoming people that you will ever meet. If you are a stranger, a native New Zealander is going to treat you like you are a friend. They are used to meeting new people,
            first because they travel a lot themselves, and also because a lot of people come to visit New Zealand as well. The culture on the islands is quite laid back and easy going, as well. So you’re not going to feel tense like you would if you
            went to a large city like London or New York City to study. There are just over 4 million people who reside on the country, and it is one of the safest places to live in the world. Another cool thing about the people is that there are so many
            different kinds of people. For being such a small country, the diversity is greater than you see in many European countries. <br><br>

            <b> The stability </b> <br> Some people say that, because the country is in a small corner of the world that doesn’t really get bothered by anyone that New Zealand seems to be secluded from the rest of the world. This isn’t true at all. As
            mentioned above, the people are really welcoming to outsiders. But, it can also be a great thing! The economy is actually incredibly stable, the cost of living is low, and the government is more stable (and less argumentative) than the governments
            that you will see in other countries. This is probably the reason that immigration is embraced, which we will talk about more in some of our later points. <br><br>

            <b> The Weather </b> <br> Nothing can get better than the weather in New Zealand. The winters are mild, with temperatures around 10ºC (50ºF) and slightly wet. In higher altitudes, you will see snow, but it’s not common in lower altitudes.
            In the summers, the climate is warm and dry with temperatures around 25ºC (77ºF). As you would expect in the southern hemisphere, the summer lasts from December to February; winter lasts from June to August. Spring and fall are similar, with
            cooler temperatures and little rain. <br><br>

            <b> The educational system </b> <br> This is the number one reason to go anywhere for school, but New Zealand is amazing for their educational system. First, the tuition is some of the lowest in the world. You get a British-based education
            (due to their British influences) for a percentage of the cost. The degrees are recognized around the world as being up-to-date and practical. You will get a high quality, hands on education that you deserve. The New Zealand even goes so far
            as to checking each and every course, program, and certificate for quality so that they can be recognized around the world as high-quality education. Not only that, but the support services for international students are among the best in
            the world. They have a lot of expertise and experience in helping international students so that they can succeed in their programs. <br><br>

            <b> Never run out of things to do </b> <br> This is an amazing opportunity for anyone who looks for adventure. In New Zealand, there are literally thousands of things to do. Do you like to hike? There are plenty of mountains for you to explore.
            Do you enjoy being a beach bum? Then you get to enjoy the beaches throughout the year. Want some excitement? There are always new things to do. The scenery is different depending on where you go; you could drive an hour and have a completely
            different geography. We’ll look at this more in our sports and recreation section. <br><br>

            <b> Work opportunities </b> <br> There are plenty of work opportunities available for international students. On a student visa, you are allowed to work up to 20 hours a week through the semester; during vacations you can work up to 40 hours.
            So, instead of having to worry about finances, you get to supplement your education with income. You may even be able to nab internships and other practical work. The international studies office at your university can help you find a job
            to sustain you during your time in New Zealand. Another great thing is that you can get a permit at the end of your degree program and work for 12 months in the country under a special “work permit” that is alongside your student visa, which
            is what we’ll look at closer in the last point. <br><br>

            <b> Ease of visa acquisition and residency </b><br> The visa acquisition process is incredibly simple, and unlike many other countries, you will not be rejected right away. You get to talk to people and tell them your side of the story if
            there is something that may prevent you from getting a visa to come into the country. If you can explain why you’ve decided to go down there and your international studies program helps you to create a Statement of Purpose (a statement you
            give to the visa officer to tell them why you are coming to New Zealand to study), you will usually get a visa. The country is welcome to immigration, more so than almost any other country in the world. The last advantage is that, after you
            graduate, as mentioned above, you can work in the country for up to a year. If the job you are working at is related to the degree that you received, you can actually apply to get permanent residency, which you will most likely get within
            6 months of your application. We look at visa acquisition and residency more in our Visa and Passport section. <br> Now do you see why there are over 100,000 people who go and study in New Zealand every single year? Will you join them and
            become an honorary Kiwi while getting your education in a beautiful and unique country like New Zealand? Then keep looking around our site; we can help you determine how to move forward with the application process and how to choose the right
            school for you. We want to give you everything that you need in order to help you to make the best decision on this site. <br><br>

            <b> Student Life </b> <br> There are a number of different things that you can do while attending university in New Zealand. International students are encouraged to interact with others in the community and to enjoy their educational experience.
            There are a number of different things that you can do, both on your university campus and off of it. Here are some ideas as to the adventures that you can have during your university career. <br><br>

            <b> Athletics </b> <br> If you are someone that has enjoyed athletics throughout your life, then athletics is a possibility for you to pursue. You can enjoy exercise, you can join a club or team on your university campus or you can join community
            sports. Kiwis love sports, so we’ve dedicated a whole section of the site to helping you understand the sports that are played in New Zealand. You can also take the time to exercise. Your health is a very important part of your university
            career, and you won’t do your best unless you take care of all parts of yourself, including your physical health. Take advantage of exercise <br><br>

            <b> Social clubs and special interest organizations </b> <br> Many universities in New Zealand have a number of different clubs and organizations that you can join. What are you interested in? What hobbies do you enjoy and what do you like
            to do in your spare time? Whether you like board games, are interested in a particular genre of movie, or want to get involved with student government, you have the ability to do so. You can find religious groups, groups related to the degree
            program that you are studying, or even groups that can help you to learn a new skill or take up a new hobby. Just ask your international studies office and they will point you in the right direction. <br><br>

            <b> Residence life </b> <br> If you live in campus-based housing (halls of residence, etc), take advantage of the activities that your wardens are doing. They may take trips, play games, enjoy sports, or even splurge on pizza or make you a
            homemade meal, depending on the size of your dorm. Interact with the other people in your dorm, and you will not regret it. You are in that close space for up to four years; you may as well advantage of it and make friends with both native
            Kiwis and those who are studying abroad, just like you. You may make some of the closest friends you’ve ever had, just because you decided to branch out a little bit and enjoy your residence life experience. <br><br>

            <b> Arts and culture </b> <br> There are literally dozens of ways for you to enjoy arts and culture, right on your college campus. Many universities have musical groups, dancing groups, social events, cultural events, and a number of other
            activities that are going on. As an international student, this could really help you to round out your experience and learn more about the world that you are staying in. Enjoy the arts and culture experiences that are available both on and
            off campus, and you will feel like your time has been well-spent. <br><br>

            <b> Travel and explore  </b> <br> There are a number of places that you can travel while you are studying in New Zealand. If you have weekends or a holiday free, make sure that you take the time to go look at all the sites. Nowhere else in
            the world can you drive two hours and find a totally different geography than where you started. If you love the mountains, drive to the North Island and check out the beautiful mountains. If you like the beach, drive to the Southern part
            of the South Island and see what there is to see. There are usually a number of different discounts and such for students, if you know how to utilize your resources. You may also be able to take trips with the university; many universities
            offer trips throughout the year. <br><br>

            <b> You don’t have to go far </b> <br> Remember, you’re studying abroad; this isn’t where you’re from. You don’t even have to leave the part of New Zealand that you are in. You can look around your local area and take a walk. Check out the
            areas of town that you’ve never been to; try a new pub or restaurant that you’ve heard of but didn’t get to yet. Just go out and get some fresh air while checking out your little pocket of the world; that’s enough to get you going in the morning.
            <br><br>

            <b> Socialize </b> <br> This is probably the top tip that we have for you. The best thing about New Zealand is the people, no matter what part of the country you are studying in. People are friendly and loving, and many of them will be willing
            to chat with you. Find ways to interact with native Kiwis; they will be able to give you valuable information, unforgettable experiences, and a number of other things that you wouldn’t ever get if you just stayed in your flat and did work.
            <br> Studying is, of course, the most important part of student life while you are in New Zealand. But don’t let your studies get in the way of enjoying the time that you have in the country. When you study in New Zealand, you will never run
            out of things to do. Whether on campus or off campus, student life is meant to be enjoyed and you will get to see parts of the world that you would have never experienced otherwise. No matter what your interests are, there will be something
            for you to enjoy while studying in New Zealand. So, if you decide to study in New Zealand, step out of your comfort zone a bit and see what there is to do. You may be pleasantly surprised by the results. <br> <br>
        </p>
        <h3 class="title-bold">Cost of Studying in Newzealand
        </h3> <br>
        <p class="sub-heading">
            <b> Tuition Fees </b> <br> The tuition fees is different for different universities and varies with courses. We have listed a few courses with the approximate range of annual tuition fees. For more specific details, please contact the universities.
            <br> <br>

            <b> Undergraduate Courses </b>
            <table class="table table-striped table-hover table-responsive">
                <tbody>
                    <tr>
                        <th>Course</th>
                        <th>Fee</th>
                    </tr>
                    <tr>
                        <td>Arts / Humanities / Social Sciences</td>
                        <td>NZ $ 14,000 - $ 20,000 per year </td>
                    </tr>
                    <tr>
                        <td>Commerce / Administration / Management </td>
                        <td>NZ $ 14,000 - $ 20,500 per year </td>
                    </tr>
                    <tr>
                        <td>Computing &amp; Mathematical Sciences </td>
                        <td>NZ $ 18,000 - $ 24,000 per year</td>
                    </tr>
                    <tr>
                        <td>Engineering</td>
                        <td>NZ $ 19,000 - $ 24,500 per year </td>
                    </tr>
                    <tr>
                        <td>Science / Science Technology</td>
                        <td>NZ $ 18,000 - $ 24,000 per year </td>
                    </tr>
                    <tr>
                        <td>Technology</td>
                        <td>NZ $ 19,000 - $ 25,000 per year</td>
                    </tr>

                </tbody>
            </table>
            <p class="sub-heading"> <b>Postgraduate Courses</b> </p>

            <table class="table table-striped table-hover table-responsive">
                <tbody>
                    <tr>
                        <th>Course</th>
                        <th>Fee</th>
                    </tr>
                    <tr>
                        <td>Arts / Humanities / Social Sciences</td>
                        <td>NZ $ 19,000 - $ 25,000 per year </td>
                    </tr>
                    <tr>
                        <td>Master of Business Administration </td>
                        <td>NZ $ 20,000 - $ 30,000 per year </td>
                    </tr>
                    <tr>
                        <td>Engineering </td>
                        <td>NZ $ 20,000 - $ 30,500 per year </td>
                    </tr>
                </tbody>
            </table>
            <p class="sub-heading">
                <b>Living Expenses </b><br> New Zealand as an international student. In addition to your tuition and insurance fees, you will need between $20,000 and $25,000 per year ($380–480 per week) for accommodation/rent, food expenses, transportation
                costs, phone bills, internet usage and entertainment. which includes accommodation as well as other daily expenses. However, the expenses are different for different people depending on the lifestyles and this is just a rough idea.
            </p> <br>

            <h3 class="title-bold">Accommodation in Newzealand</h3> <br>
            <p class="sub-heading">
                <b> Cost Of Living </b> <br> One of the things that you should always look at when you are looking to study overseas is the cost of living. Even though people will go to places that have higher costs of living (the United States, the United
                Kingdom) to study, going to somewhere that has a lower cost of living can really help reduce your costs during college. New Zealand is actually one of the most inexpensive places that you can go if you are looking to study in another country.
                Consumer goods in New Zealand are of the same style and quality that you will find overseas by other manufacturers. Here are some of the prices that you will see when looking at different products. All of these are in New Zealand dollars
                (NZ) </p>

            <ul class="list2 exam-margin">
                <li> Average washing machine: $700-$800</li>
                <li> Average round of golf: $20 to $50</li>
                <li> Average movie ticket: $12</li>
                <li> 4 door sedan: $25000</li>
                <li> Cup of Coffee: $4</li>
                <li> Petrol per liter: $2.00</li>
                <li> Milk (2 liters): $4</li>
                <li> Fast food sandwich: $4 to $5</li>
                <li> Average meal at a restaurant: $20 to $25</li>
            </ul> <br>
            <p class="sub-heading">
                The goods and services tax (GST) is 15% in New Zealand, which may feel high until you realize that other taxes are a bit lower than you will see in other countries. The cost of living survey in 2012, which ranks cities from the most expensive places to
                live (#1) to the least expensive named Auckland and Wellington, two major cities in New Zealand, to be two of the cities with the lowest cost of living (56 and 74, respectively). This means that these cities are actually much better to
                live in than areas like New York City, London, and Beijing, and are actually very good places for you to consider if you think that you want to study abroad but you are not sure where you want to go. <br> There are, of
                course, other services that you have to look at when it comes to the cost of living in a particular country. You need to look at other factors as well. Here are some of the numbers that you will see when it comes to how much essentials
                cost in New Zealand:
            </p>
            <ul class="list2 exam-margin">
                <li> <strong>Utilities:</strong> Most people will spend about .25 per Kilohertz of electricity, depending on the company that they get their electricity from. For an average family, that puts it at around $2000 a year, but it will be much less
                    if you are living in a flat on your own or with one or two roommates. Throw in other utilities, and it costs somewhere from $150 to $200 a month for all your utilities.</li>
                <li> Internet costs approximately $85 a month, and, like many countries, will have a limit on exactly how much you are allowed to use throughout the month.</li>
                <li> Rent is anywhere from $800 to $2000 per month, depending on where you live in relation to a city, suburb, or university. It will also depend on the size of the place that you are renting out.</li>
                <li> The cost of your education, which we will explore more in other areas of the site, will range anywhere from $10000 to $18000 per year, depending on what school you attend and what your program of study is. Graduate programs cost a bit
                    more, from $14,000 to $24,000 per year.</li>
                <li> Health care is incredibly good. You will pay anywhere from $25 to $60 for a doctor’s appointment; hospital costs are usually free (but surgeries have waiting lists unless it’s an emergency), $5 for prescriptions. Health insurance is relatively
                    affordable as well, even for international students.</li>
            </ul> <br>
            <p class="sub-heading">
                As you can see, there are a number of factors that play into the cost of living in New Zealand (or honestly, no matter where you end up studying). The cost of living is low enough that you should be able to make it without a lot of problems. <br>                The good thing is that there are plenty of ways for you to get the money you need. Since most student visas allow you to work while you are studying, you will be better prepared to deal with any financial things that come up. For more
                information on working while studying, check out our section that explains it a bit better. We will look at some of these categories of living essentials in more detail in other sections of the site. The immigration office offers a lot
                of information about the cost of living on their website, if you are looking for more information to base your decisions on.
            </p>
            <h3 class="title-bold">Application Requirements and Deadline</h3> <br>
            <p class="sub-heading">
                If you are planning to pursue your higher studies in the Kiwi nation, you should start with an in-depth research about the universities in New Zealand. You must first jot down all the important elements that you are looking for in your dream university
                in the country, after which you can start narrowing down universities that fit your requirement. <br> The academic year is from mid / late February to early November and most Universities have 2 semesters with a holiday
                of 4 weeks in June. Each University operates slightly different dates and some also offer summer school in the main holiday period in November to February. Intakes are in February, July and sometimes in September. <br>

                <b> English Language Requirements </b> <br> All students must be fluent in English language if they are to succeed at university in New Zealand. There are many courses available at public and private institutions in New Zealand and elsewhere
                to assist international students reach the required level of English language competence. We can recommended waiver of IELTS / TOEFL wherever possible. A band of 6.0/6.5 for undergraduate & 6.5 / 7.5 for postgraduate courses is desirable.
                <br>

                <b> Documents </b> <br> Documents needed for making an application are resume, statement of purpose, marksheets & certificates of X, XII, till Graduation or relevant degree transcripts in specific cases, Certificates of extra curricular
                activities and passport copy, birth certificate & 2 reference letters from colleges & employers. <br>

                <b> The Process </b> <br> The academic year is from mid / late February to early November and most Universities have 2 semesters with a holiday of 4 weeks in June. Each University operates slightly different dates and some also offer summer
                school in the main holiday period in November to February. Intakes are in February, July and sometimes in September <br> Once you find an university of your choice, the next stage is to understand the New Zealand admission cycle. <br>                The admission cycle of New Zealand comprises the entire process right from research to the start of your session. In this article, we bring you the New Zealand admission cycle that will help you plan your admission mission accordingly.
            </p> <br>

            <p class="sub-heading"> New Zealand Admission Cycle: Deadline & Timeline </p>
            <table class="table table-striped table-hover table-responsive">
                <tbody>
                    <tr>
                        <th>Month</th>
                        <th>Timeline</th>
                    </tr>
                    <tr>
                        <td>July (previous year)</td>
                        <td>Research your options</td>
                    </tr>
                    <tr>
                        <td>August</td>
                        <td>Register for standardised test and take test</td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td>Prepare the application package and get you test scores.</td>
                    </tr>
                    <tr>
                        <td>October</td>
                        <td>Start applying</td>
                    </tr>
                    <tr>
                        <td>December</td>
                        <td>Applications close</td>
                    </tr>
                    <tr>
                        <td>Dec-January</td>
                        <td>Colleges start replying to applications</td>
                    </tr>
                    <tr>
                        <td>December</td>
                        <td>Prepare your finances, explore scholarships and apply for education loans.</td>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td>Apply for the students Visa</td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td>Departure preparations</td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td>Session starts</td>
                    </tr>
                </tbody>
            </table> <br>
            <p class="sub-heading">
                Understanding the New Zealand admission cycle is crucial, as it impacts your chances of making into a university of your choice. Therefore, make sure you are well aware of the admission cycle of New Zealand as that would ensure that you have ample time
                to apply to universities and manage other aspects of your application. <br> New Zealand’s academic session commences between February and March. However, some universities have different intake periods. Therefore, the best
                way to begin with the application procedure is to get the precise information from the department concerned to avoid missing out on deadlines. Not every university accepts applications after their deadlines. Once you know about the application
                deadlines you can start preparing for standardised tests, including IELTS or TOEFL required for your programme. <br>

                <b> Visa Cycle </b> <br> Once you have got your admission offer, you are just one step away from studying at the university of your choice, therefore, make sure you apply for the New Zealand student visa on time. International students
                who want to pursue their education in New Zealand for more 3 months will require a student visa. As soon as your application is approved, you will have to contact the New Zealand Immigration office to apply for the student visa. The best
                time to apply for the New Zealand student visa is 3 to 4 months before your academic session commences.
            </p> <br>
            <h3 class="title-bold">Employment Opportunity in Newzealand</h3> <br>
            <p class="sub-heading">
                <b>  Get a Job </b> You are allowed to work up to 20 hours a week on a student visa, so take advantage of it. There are plenty of jobs both on and off campus, and you may meet a lot of interesting people while working too. Try and find
                a job related to what you are studying, too; it can give you invaluable experience that you couldn’t get any other way.

                <b> Scholarships </b> Because Kiwis see education as incredibly important, the educational system in New Zealand is incredibly important to the overall development and stability of the country, and the government and other organizations
                put a lot of money into scholarships and other programs that you can utilize so that you are able to afford your education, no matter where you are coming from or what program you are studying. <br> There are a lot of opportunities available
                for students who are coming from other countries so that they can further their education and get proper opportunities that will help them bring their education home. Here is a brief look at those ones; of the Ministry of Foreign Affairs.
                <br> New Zealand Pacific Scholarships and New Zealand Regional Development Scholarships, which are specifically for those in the Pacific regions of the world. It is available for both undergraduate and postgraduate students. There are
                also Short Term Training Awards, which are for those who are coming from Pacific countries to study a trade skill in New Zealand. <br> New Zealand Development Scholarships, which were developed for those pursuing postgraduate study in
                New Zealand. These scholarships are from those who are coming from parts of Central America, South America, Africa, Nepal, Timor-Leste, Mongolia, and a small number of Chinese provinces. <br> ASEAN Scholar Awards, which are for students
                from Southeast Asia that performed well academically during their secondary schooling and are looking to attend university in New Zealand. These scholarships were developed to nurture diplomatic relationships with those countries and New
                Zealand. <br> Commonwealth scholarships, which are available to students in a number of different countries in Africa, parts of Latin America, Asia, and the Pacific. These are, essentially, scholarship programs that are shared across these
                regions so that people in the countries listed are able to go to other schools in this commonwealth organization. <br> Depending on the country that you come from, you may also be eligible for scholarships from your home country. That
                will depend on a number of factors, including the program that you are looking to pursue, where you attended high school, what your grades were like in high school, scores on any tests that you took for university admission, and other
                factors. Getting scholarships for studying in New Zealand really isn’t that much different than getting scholarships in another country, you just may need to do a little more research in order to find the ones that you are eligible for.
                <br> If you would like more information about scholarship programs in New Zealand, the international studies office at your university will also be able to help you apply for appropriate scholarships and other financial aid that you may
                need in order to attend university in New Zealand.</p> <br>

            <h3 class="title-bold">Visa Information</h3> <br>
            <p class="sub-heading">
                A student visa allows you to study in New Zealand full-time. Your course of study, education provider and finish date will all be specified by your student visa. It's important that you meet all the conditions of your student visa. <br>                Apply for a student visa, find out about the application process, print the application form or read the Student Visa Guide here. You should apply for your student visa as soon as you have been accepted and given an Offer of Place by concerned
                institution as in some cases the application process may take a number of weeks. <br> For a list of documents you must provide with your application, refer to the checklist on the inside cover of the Student Visa Application form. <br>                Immigration New Zealand normally requires evidence that you have paid your tuition fees to get a student visa. In some countries you can apply for an Approval in Principle (AIP) visa with your Offer of Place before paying your tuition
                fees.

            </p> <br>
            <p class="sub-heading"><b> To meet the conditions of your student visa, you must: </b></p>
            <ul class="list2 exam-margin">
                <li> Attend classes full-time at the education provider written on your student visa</li>
                <li> Make academic progress while you are studying as determined by your education provider</li>
                <li> Not receive income for work without the permission of INZ</li>
            </ul>
            <p class="sub-heading">It's also your responsibility to ensure that you have a valid visa in your passport at all times while studying in New Zealand. List of Documents for Visa Application Along with your application form, you will need to submit a few documents.
                Make sure you have all these when you start the application process for a student visa to New Zealand.</p>
            <ul class="list2 exam-margin">
                <li> Valid passport.</li>
                <li> You must fill out the below link New Zealand student visa application (form 1012).<br> https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information/forms-and-guides</li>
                <li> Two passport-sized color photos - You can usually get these inexpensively at a pharmacy that has a photo studio. Make sure the photos are current (i.e. taken within six months).</li>
                <li> An official letter from your New Zealand university, stating that you'll be studying abroad in New Zealand.</li>
                <li> An official letter from your home university, confirming that: any course fees will be paid either by you or by your New Zealand university and you have sufficient funds to study abroad in New Zealand.</li>
                <li> Undergo Medical Test: If you need to get a chest x-ray or medical examination, you'll need to bring certain things along to your appointment. At your appointment the physician will examine you and send us information we can use to check
                    you have an acceptable standard of health.If you have to get a chest x-ray or medical examination, you'll need to use a doctor or radiologist from our 'List of Panel Physicians'.</li>
                <li> (Police Clearance Certificate) Police certificates must be less than six months old when you submit your application.We may ask for further police certificates if your initial police certificate becomes a year old from its date of issue
                    before we make a decision on your application.</li>
                <li> Proof that you plan to depart the country - A copy of your departure plane ticket will do.</li>
            </ul>
            <p class="sub-heading">After lodgement of your visa applications, and once we have advised you that you have received "Approval in Principal" of your visa from the New Zealand Government, you will need to pay your 1st year's tuition fees as mentioned in your offer
                letter. You can choose to pay this fee through Telegraphic Transfer (TT) At this point; those students using the FTS will also need to transfer their living expenses contribution into their ANZ bank account. <br> Typical waiting time for
                your visa to be processed and available for pickup or delivery by courier after a counselor has made the decision to approve your application. However, some cases require extra administrative processing, usually less than 60 days, but
                sometimes longer. </p><br>
            <h3 class="title-bold"> Why Process Through UES</h3> <br>
            <p class="sub-heading">
                <b>  The Benefits of Educational Consultants:</b> <br> There are innumerable ways through which the educational consultants help a student. <br></p>
            <ul class="list2 exam-margin">
                <li> UES will offer you the necessary information on the programs,</li>
                <li> UES will help you in deciding the country, college and program</li>
                <li> UES will guide you about the financial requirements,</li>
                <li> UES will make arrangements for admission</li>
                <li> UES will give you information on the place and make arrangements for living</li>
            </ul> <br>
            <p class="sub-heading">
                Career Counseling <br> Admission Guidance <br> Safety <br> Finance Estimation <br> Visa Assistance <br> Accommodation Guidance <br> Job Awareness In Abroad <br> <br>
                <b> Nattwest Consultants Offered: </b><br> At UES, our team of expert counselors offers assistance in gaining admission to top Notch College of Australia. Any information regarding courses conducted by Universities & college is provided
                by our expert team of counselors. Other services provided include:
            </p> <br>
            <ul class="list2 exam-margin">
                <li> UES will help in Selection of course and college</li>
                <li> UES will guide for Visa counseling</li>
                <li> UES will assist for Application procedure</li>
                <li> Offer Acceptance</li>
                <li> UES help in Visa filing</li>
                <li> Orientation sessions</li>
            </ul>

    </div>
    <div class="about-column-right">
        <h3>Countries</h3>
        <ul>
            <li> <a href="#" ng-click="routClick('study-in-usa')" ng-class="{'red-color': url == 'study-in-usa' }">Study in USA</a>
            </li>
            <hr>
            <li> <a href="#" ng-click="routClick('study-in-australia')" ng-class="{'red-color': url == 'study-in-australia' }">Study in Australia</a>
            </li>
            <hr>
            <li><a href="#" ng-click="routClick('study-in-canada')" ng-class="{'red-color': url == 'study-in-canada' }">Study In Canada</a></li>
            <hr>
            <li><a href="#" ng-click="routClick('study-in-uk')" ng-class="{'red-color': url == 'study-in-uk' }">Study in UK</a></li>
            <hr>
            <li><a href="#" ng-click="routClick('study-in-newzealand')" ng-class="{'red-color': url == 'study-in-newzealand' }">Study in New Zealand</a></li>
            <hr>
        </ul>
    </div>

</div>