<div class="page-banner-content">
    <img src="img/canada04.jpg" alt="">
    <h2>Study in Canada</h2>
</div>


<div class="about-row container">
    <div class="about-column-left">
        <h3 class="title-bold heading-border-left"> Study in Canada</h3>
        <p class="sub-heading">
            Being the second largest country in the world, the country is an absolute beauty. The country is an all-rounder; geographically and economically. Canada is the dream city for every student who wishes to study abroad. From beautiful natural summits to
            eye-catching skyscrapers Canada makes you awestruck. The uber friendly people in Canada are always welcoming and super cool to hang out with as well. Not to forget the world’s best education of Canada. Canada is ranked worlds seventh among
            a new international study of school systems and ranked world’s third most preferred country for abroad education. Meanwhile, the Indian student population is rising significantly. It has gone up to 40% by the end of the academic year 2017-18.
            <br>
            <br> The country is home to 96 well-recognized Universities spread across the country making quality education available to everybody. To name a few, The University of Toronto, the University of British Columbia, University of Alberta, Université
            de Montréal, McMaster University are the top Universities to study in Canada. Each year a gigantic 5 million international students enroll into the Canadian universities. Deciding to study in Canada? But lack proper information? Here’s an
            article that gives a clear picture of the life in Canada. <br> <br>

            <b> There are mainly three types of institutions:</b> <br> <br>

            <b> Public Universities: </b> <br> Public universities in Canada are run by the provincial, territorial or federal government funding besides receiving the tuition fees from students. <br> <br>

            <b> Private Universities: </b> <br> Private universities in Canada are mostly funded by donations and research grants. These universities do not receive funding from the government bodies. <br> <br>

            <b> Liberal Arts Colleges: </b> Liberal arts colleges in Canada are pretty similar to that in the USA. These are either public or private colleges, with a primary emphasis on undergraduate courses in liberal arts. </p> <br>

        <h3 class="title-bold"> Why Study in Canada?</h3> <br>
        <p class="sub-heading">
            From natural peaks to skyscrapers, Canada has it all! Montreal and Toronto are two large cities that offer just about everything students could possibly ask for. <br> <br> Toronto, an ethnically diverse city is also a major centre of higher
            learning and research with many well-known educational institutions such as the University of Toronto. <br> <br> The City of Saints, Montréal, is one that defies all expectation with its lush mix of North American & European swagger and cutting-edge
            culture. The United Nations consistently ranks Canada as one of the best places in the world to live, given its low crime rate. There are also walksafe programmes, where volunteers assist people in getting to public transportation or their
            homes during late hours at night. <br><br> Canada is the world’s most educated country with over half of its residents being college graduates. Unlike back home, the country does not have a central education system but is under the jurisdiction
            of each of its province. <br>
            <br>
            <b> Study options </b> <br> There are three academic intakes at the institutions in Canada: fall, winter and summer. Fall lasts from September till December, winter lasts from January till April and summer lasts from May till August. Though
            fall is the primary intake in most colleges, few colleges do allow for a winter intake. International students are advised to apply at the earliest, as scholarships and admissions get more and more competitive closer to the deadline. A typical
            application deadline would be six to nine months before your session starts, and it can vary depending on each department and subject of choice. Though deadlines are not flexible, except for diploma programmes, some institutions might accept
            students if seats are available.
            <br> <br>
            <b> Cost of studying in Canada </b>
            <br> The price tag for higher studies in Canada is roughly half compared with other leading study destinations like the USA. Tuition fees vary from institution to institution. On average, students will have to shell out nearly CAN $10,000–$40,000
            per year.Annual living expenses will depend on the living location you prefer and the type of accommodation that suits you, i.e., private, homestay or on-campus accommodation. On average, students nearly pay CA$6,000–8,000 per year for their
            accommodation. Of course, the transport and other expenses should be factored in. And one more thing that you can’t avoid is a health insurance that costs CA$600 (approx.) per year.International students may work part-time for 20 hours per
            week – generally the first six months on-campus and off-campus post this period. Some universities with more intensive courses allow their students to work for nearly 12 hours since working for more hours can affect their students' performance.
            International students can apply for work permit post their studies, which gives them the opportunity to work in the country for a three-year period.

        </p> <br>

        <h3 class="title-bold"> Cost of Studying in Canada</h3> <br>
        <p class="sub-heading">
            International Students, 2016 -2017 Tuition Fees, General Arts and Science programs (In Canadian Dollars) </p>

        <table class="table table-striped table-hover table-responsive">
            <tbody>
                <tr>
                    <th>Province</th>
                    <th>Undergraduate</th>
                    <th>Graduate</th>
                </tr>
                <tr>
                    <td>Newfoundland</td>
                    <td>$7,031 - $8,660 Per Semester</td>
                    <td>$7,896 - $10,549 Per Semester</td>
                </tr>
                <tr>
                    <td>Prince Edward Island</td>
                    <td>$7,031 - $8,731 Per Semester</td>
                    <td>$7,878 - $10,578 Per Semester</td>
                </tr>
                <tr>
                    <td>Nova Scotia</td>
                    <td>$7,456 - $9,180 Per Semester</td>
                    <td>$7,160 - $12,270 Per Semester</td>
                </tr>
                <tr>
                    <td>New Brunswick</td>
                    <td>$7,580 - $9,080 Per Semester</td>
                    <td>$7,920 - $9,630 Per Semester</td>
                </tr>
                <tr>
                    <td>Quebec</td>
                    <td>$9,265 - $10,180 Per Semester</td>
                    <td>$8,450 - $15,000 Per Semester</td>
                </tr>
                <tr>
                    <td>Ontario</td>
                    <td>$7,500 - $14,202 Per Semester</td>
                    <td>$8,450 - $15,000 Per Semester</td>
                </tr>
                <tr>
                    <td>Manitoba</td>
                    <td>$7,696 - $9,017 Per Semester</td>
                    <td>$7,212 - $9,890 Per Semester</td>
                </tr>
                <tr>
                    <td>Saskatchewan</td>
                    <td>$7,625 - $10,127 Per Semester</td>
                    <td>$7,813 - $9,625 Per Semester</td>
                </tr>
                <tr>
                    <td>Alberta</td>
                    <td>$7,845 - $9,880 Per Semester</td>
                    <td>$7,684 - $15,000 Per Semester</td>
                </tr>
                <tr>
                    <td>British Columbia</td>
                    <td>$7,784 - $13,830 Per Semester</td>
                    <td>$7,100 - $17,000 Per Semester</td>
                </tr>

            </tbody>
        </table>
        <p class="sub-heading">
            *Source: The Directory of Canadian Universities - 1999, Association of Universities and Colleges of Canada Living Expenses & Accommodation </p> <br>
        <p class="sub-heading"><b> Average cost of accommodation in Canada is about CDN $ 800-1200 per month.</b> </p>

        <table class="table table-striped table-hover table-responsive">
            <tbody>

                <tr>
                    <th>Type</th>
                    <th>Expenses (annual in CANADA. Dollars)
                    </th>
                </tr>
                <tr>
                    <td>School-Provided Homestays</td>
                    <td>$ 1000 - $1500 per month</td>
                </tr>
                <tr>
                    <td>School-Provided Residence/Dormitory</td>
                    <td>$5000 - $9500 per year</td>
                </tr>
                <tr>
                    <td>Off Campus Housing</td>
                    <td>$850 - $ 1050 per month</td>
                </tr>


            </tbody>
        </table> <br> <br>
        <p class="sub-heading">
            Usually, Universities in Canada provide the students with accommodation of their own close to the Campus. Rooms are basically the same everywhere, they might not be furnished however and the kitchen, baths and toilets are shared. Commonly it’s difficult
            to get a private room, as the rooms are mostly shared with other students yet they are definitely separated by gender. Dormitories for instance are a concrete facility providing rooms for either only girls, or only boys. When living in the
            dormitory you are close to the university and the campus activities at all times including leisure and educational activities, group studying and much more. This way, your life will circle around students of your own age and similar interests,
            a perfect way to make new friends. Average cost of residence/dormitory rooms: $3,000 – $7,500 CDN per school year. <br> <br>

            <b> Off-Campus Housing </b> Renting is a more private alternative for students who awe for silence and intimacy. Rents vary greatly due to the location, quality and availability. Living alone in an apartment is quite a luxury; therefore students
            tend to share accommodation in order to keep the expenses low. Depending at the location of the University Campus, student tend to seek for apartment in that area or close to avoid daily transportation costs and appreciate more sleep time
            in the morning. Usually, the University itself provides its international students with lists of suitable rent alternatives nearby. Again, it is recommendable to be arranging options online, while in your home-country, as the season starts
            the apartments go scarce in Canada.In Canada, there are several types of homes you can rent being an international students. Renting a house by yourself costs a fortune, yet if you share accommodation with other students it can be a great
            alternative with a garden and all that space. Students however tend to go for a shared entity such as a suite, a private room, a shared kitchen, toilet and a bathroom within someone’s home.Average cost of a suite or apartment: $400 – $1,500
            CDN monthly <br> <br> Apartments are another option, you and the roommates get to be the sole inhabitants of the space and thus decide some common grounds. The downside of renting is that comes with no meals, sometimes not even furniture.
            It can be possible for electricity and heat costs to be included in the rent. <br> <br> If you decided on private accommodation, it is no longer the Universities responsibility to make sure you are appropriately settled. Renting policy requires
            damage deposit and rent regularly paid via a bank or in some cases cash. When signing the deal with the landlord, students should be very careful and attentive towards the terms of the lease. Before you sign any documents, students should
            examine the space for eventual repairs needed. <br><br> Average cost of shared accommodations in Canada: $250 – $700 CDN monthly.

        </p> <br> <br>

        <h3 class="title-bold"> APPLICATION REQUIRMENT
        </h3> <br>
        <ul class="list2 exam-margin">
            <li> Resume/CV</li>
            <li> Letters of recommendation (minimum two)</li>
            <li> Passport sized photos</li>
            <li> Copies of your passport</li>
            <li> GMAT/GRE test certificates (if asked)</li>
            <li> Medical certificate</li>
            <li> Insurance letter</li>
            <li> Documents stating work experience (if applicable)</li>
            <li> Course specific questionnaire (if asked)</li>
            <li> Test AS certificate</li>
            <li> Translations of certificates (if asked)</li>
            <li> Proof of funds (if asked)</li>
            <li> Certificate and transcript of your undergraduate studies</li>

        </ul> <br>

        <p class="sub-heading"><b>Application Deadlines:</b></p>
        <ul class="list2 exam-margin">
            <li> Application deadlines is vary from university to university and course which you opt for according to course and intake.</li>
            <li> On arrival in Canada</li>
            <li> Fill out your Declaration Card</li>
            <li> Before you land in Canada, the flight attendant will provide you with a Canada Border Services Agency (CBSA) Declaration Card.</li>
            <li> The CBSA website provides information about this Declaration Card. Fill out this form on the flight.</li>
            <li> Go to Customs/Immigration</li>
            <li> When you arrive at the airport in Canada, you will see signs in both English and French to direct you. Follow the signs that read Arrivals and Customs (also known as the immigration area).</li>
            <li> When you arrive at Customs, there will be lines for Canadian citizens and non-Canadian citizens. Make sure you get in the appropriate line.</li>
            <li> Get your study permit (if applicable)</li>
            <li> At Customs, you must indicate that you are coming to Canada to study. They will then tell you to present your travel documents and study permit. </li>
            <li> If it is your first time studying in Canada and you applied for your study permit outside of Canada, you will not yet have your study permit. You will instead have a Letter of Introduction which confirms your study permit was approved. Show
                the officer this letter. </li>
            <li> Next, you will speak to an immigration officer at your port of entry (most likely your port of entry will be in Toronto, Montreal or Vancouver).</li>
            <li> The immigration official will examine your documents. If everything is correct, the official will give you your study permit. </li>

        </ul>
        <h3 class="title-bold"> Employment Opportunity in Canada
        </h3> <br>
        <p class="sub-heading">
            Commonly international students go for part time job like, cleaning, bartending, volunteer work or live-in-care types of work. Such jobs are minimum wage, paid commonly between 8-10 USD per day. <br> If you are more interested in an academic
            career and show that through your good grades and commitment you could score a job in assisting lecturers in any way needed. <br>

            <b>  If you qualify to work off-campus, you can work up to 20 hours per week:</b> </p>
        <ul class="list2 exam-margin">
            <li> during regular school sessions, or while you are studying if you are enrolled in an intensive program that doesn’t have scheduled breaks</li>
            <li> if you are studying part-time because you are completing the last session of your program</li>
            <li> if you are a graduate student who has completed the required courses for your degree</li>

        </ul>
        <p class="sub-heading">
            You can work full-time:
        </p>
        <li> during scheduled breaks, such as the winter and summer holidays or spring break, and after you finish your studies if you have applied for any other work permit.
        </li> <br>

        <h3 class="title-bold">Visa Information</h3> <br>
        <p class="sub-heading">
            <b>     Usa Student VISA Procedure </b> F1 Student Visa is generally for study at an accredited U.S. college or university or to study English at an English language institute. Before you make application for F1 student visa, you must first
            apply for the admission to US accredited Institution of higher education that is certified by the Student Exchange and Visitor Program (SEVP). <br> <br> Once you are accepted at an SEVP certified Institution, Institution will issue you I-20
            letter confirming your admission or DS-2019 from the institution's international student office to present when you apply for your student visa interview. <br><br>

            <b> The Student Exchange and Visitor Information System (SEVIS): </b> <br> The United States Department of Homeland Security (DHS) uses SEVIS fee payments paid by the international applicant to fund and maintain the Student Exchange Visitor
            Information System (SEVIS), the immigration database used to process documents for international students and exchange visitors during their stay in the United States.

            <b> How much is the SEVIS fee? </b> <br> Making SEVIS fee payment there is a separate form I-901, and in addition to, the visa application fee. And the fee is US $200 for F-1 international students. <br> List of Documents for Visa Application
            <br>

        </p>

        <ul class="list2 exam-margin">
            <li> A current passport or other valid travel documents (you need a page in your passport that's blank on both sides for your visa)</li>
            <li> OFC confirmation copy</li>
            <li> Visa appointment confirmation.</li>
            <li> Proof of funding, You can support yourself and pay for your course</li>
            <li> Valid I-20 (include your SEVIS number)</li>
            <li> Proof of parental/legal guardian consent and your birth certificate (if you're under 18) </li>
            <li> Original qualification certificates/other education documents used by concern university when University made our offer to you. </li>
            <li> Source of income of your parents or from the official sponsor for your education and living expenses </li>
            <li> If a document is not in English, it must come with a fully certified translation</li>

        </ul>
        <p class="sub-heading">US Fees and Visa Process Duration</p>
        <ul class="list2 exam-margin">
            <li> International student come under Nonimmigrant Visa applicants, Here is the step by step process US visa process.</li>
            <li> Create a Profile at http://www.ustraveldocs.com website (Each applicant must have their own Form DS-160 visa application)</li>
            <li> Create your account and logging in with your username and password you will see an option 'Schedule Appointment option' on the left panel. Select this option.</li>
            <li> After filling your Passport and Visa information at the end of the confirmation page you see this screen. Select the option that was shown in arrow – 'Click Here for All payment Options (application form will generate an alpha-numeric barcode
                confirmation page and the printed confirmation page is required for the appointment at the Visa Application Center and for the interview at the Embassy/Consulate)</li>
        </ul>

        <p class="sub-heading"> <b>Bank and Payment Options/Pay My Visa Fee:

        </b> </p>
        <p class="sub-heading"> Each applicant need to pay visa application fees of $160. On the payment confirmation screen you will be provided with four payment options. This can take approximately 2 business days from time of payment for your receipt to get activated. </p>
        <br>
        <p class="sub-heading">
            <b> 1.National Electronic Funds Transfer (NEFT): </b> <br> You can pay visa application fee with an NEFT transfer directly from your bank saving account. This NEFT payment can also be process through online banking or mobile banking. On the
            payment confirmation screen, you will receive a unique account number to which you will need to send the NEFT payment. <br> You must save unique account number that you actually use to make your NEFT payment. You must have this number as proof
            of payment in order to schedule your visa interview appointment. <br> <br>

            <b> 2.Mobile Payments – IMPS: </b> <br> Applicants can pay their visa MRV fees with their mobile phone via their phone using the IMPs system, however, applicant need to pre registered with their bank to complete payment through mobile phone
            and be in possession of a valid MPIN. <br><br> Applicants can initiate an IMPS payment via SMS to their bank or via the m-banking facility provided by their financial institution. Applicants must enter the correct Beneficiary Mobile Number,
            Beneficiary MMID number and correct amounts. <br><br> Once the payment has been verified, you will receive a SMS containing the 12 digit IMPS reference number. Applicants must then enter the IMPS reference number after logging into their profile.
            Once verified, the applicant will be able to proceed to the appointment scheduling stage. <br> <br> Applicants who pay via the IMPS system during regular business hours (9AM - 5PM) will be able to schedule their appointment within 3 hours.
            Applicants who make their payment after 6PM will be able to schedule their appointment after 9AM the next business day. <br><br> US Visa payment at AXIS bank/Citi Bank <br><br> You can visit AXIS or Citibank branches to make the visa fee.
            List of Branches Before going to the bank, you must print and carry the applicable U.S. visa fee collection slip available after logging into your profile. After receiving your payment, the bank will give you a receipt. Cash at BankYou can
            schedule your interview within three hours of paying your visa application fee at a AXIS/Citibank branch.The table below shows the fee payment processing time and when you can schedule your interview after paying your application fee.</p>
        <br><br>


        <table class="table table-striped table-hover table-responsive">
            <tbody>
                <tr>
                    <th>Time of Payment</th>
                    <th>Bank</th>
                    <th>Interview Booking</th>
                </tr>
                <tr>
                    <td>Any time during the business day</td>
                    <td>Citibank</td>
                    <td>within 3hours</td>
                </tr>
                <tr>
                    <td>Any time during the business day</td>
                    <td>Druk</td>
                    <td>Following business day</td>
                </tr>
            </tbody>
        </table>
        <p class="sub-heading"><b>  Visa Application fee payment via DRUK Bank </b> </p>
        <p class="sub-heading">You can pay your nonimmigrant visa application fee in cash at any of 4 DRUK Bank branch. Before going to the bank, you must print and carry the applicable U.S. visa fee collection slip available after logging into your profile Take the completed
            fee collection slip to the bank when you pay your fee. After receiving your payment, the bank will give you a receipt.

        </p> <br> <br>
        <h3 class="title-bold"> Why Process Through UES</h3> <br>
        <ul class="list2 exam-margin">
            <li> The Benefits of Educational Consultants:</li>
            <li> There are innumerable ways through which the educational consultants help a student.</li>
            <li> UES will offer you the necessary information on the programs,</li>
            <li> UES will help you in deciding the country, college and program,</li>
            <li> UES will guide you about the financial requirements,</li>
            <li> UES will make arrangements for admission,</li>
            <li> UES will give you information on the place and make arrangements for living,</li>
            <li> CAREER COUNCELLING</li>
            <li> ADMISSION GUIDANCE</li>
            <li> SAFETY</li>
            <li> FINANCE ESTIMATION</li>
            <li> VISA ASSISTANCE</li>
            <li> ACCOMMODATION GUIDANCE</li>

        </ul>
        <h3 class="title-bold">Success Stories</h3> <br>
        <div class="row">

            <div class="col-md-12">

                <div class="col-md-2">
                    <a href="#"><img class="img-thumbnail rimg" src="#" alt=""></a>
                </div>
                <div class="col-md-10">
                    <div class="col-md-6">
                        <p><strong class="stories">Name:</strong></p>
                        <p><strong class="stories">University:</strong></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong class="stories">Academic Year:</strong></p>
                        <p><strong class="stories">Country:</strong></p>
                    </div>
                    <div class="col-md-12 edu">
                        <p><strong class="stories">Education:</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <p class="sub-heading"><b>  About My Successfully Journey: </b> </p>




    </div>
    <div class="about-column-right">
        <h3>Countries</h3>
        <ul>
            <li> <a href="#" ng-click="routClick('study-in-usa')" ng-class="{'red-color': url == 'study-in-usa' }">Study in USA</a>
            </li>
            <hr>
            <li> <a href="#" ng-click="routClick('study-in-australia')" ng-class="{'red-color': url == 'study-in-australia' }">Study in Australia</a>
            </li>
            <hr>
            <li><a href="#" ng-click="routClick('study-in-canada')" ng-class="{'red-color': url == 'study-in-canada' }">Study In Canada</a></li>
            <hr>
            <li><a href="#" ng-click="routClick('study-in-uk')" ng-class="{'red-color': url == 'study-in-uk' }">Study in UK</a></li>
            <hr>
            <li><a href="#" ng-click="routClick('study-in-newzealand')" ng-class="{'red-color': url == 'study-in-newzealand' }">Study in New Zealand</a></li>
            <hr>
        </ul>
    </div>
</div>